.containerSection2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}

.containerSection2:hover{
    transform: scale(1.1);
}
.container1Section2{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: solid 1px #000000;
    box-shadow:2px 2px 20px 2px #00A97F, -5px -5px 10px rgba(0, 0, 0, 0.2);
}
.h1ContainerSection2{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}

.divButton{
    margin-left: 45px;
    
   
}

.pContainarSection2{
    text-align: center;
}


.imgIconGitHub{
    height: 50px;
    margin-top: 39px;
}